.promo {
    .explain-list {
        ul {
            text-align: left;
            p {
                font-size: 20px;
                font-style: italic;
                line-height: 1;
                margin: 10px;
            }
        }
        form {
            text-align: left;
            padding: 10px;
            & > * {
                padding: 7px;
            }
            label {
                margin: 0 10px;
            }
            input {
                height: 20px;
                padding: 4px 12px;
                font-weight: bold;
                text-transform: uppercase;
            }
            button {
                margin: 0 15px;
            }
        }

        &.buttons {
            .last-button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                gap: 10px;
            }
        }

        &.svgs {
            svg {
                width: 60px;
                height: 60px;
                margin: 0 auto;
                padding: 0 7px;
                &.animate-spin {
                    @keyframes spin {
                        to {
                            transform: rotate(360deg);
                        }
                    }
                    animation: spin 5s cubic-bezier(0.6, -0.6, 0.735, 0.045) infinite;
                }
            }
        }

        .npm {
            position: relative;
            color: cadetblue;
            font-weight: bold;
            cursor: pointer;
            @mixin tooltip {
                position: absolute;
                top: -32px;
                left: 102%;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                width: 105px;
                padding: 10px;
                background-color: #f4f4f4;
                border: 2px solid cadetblue;
                border-radius: 4px;
            }
            .hover::before {
                content: "Click to copy";
                @include tooltip;
            }
            .active {
                &::before {
                    content: "Copied";
                    @include tooltip;
                    text-align: left;
                    padding-left: 18px;
                }
                &::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='green' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-check-circle-2'%3E%3Cpath d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z'/%3E%3Cpath d='m9 12 2 2 4-4'/%3E%3C/svg%3E");
                    position: absolute;
                    top: -28px;
                    left: calc(102% + 85px);
                    z-index: 2;
                }
            }
        }

        a {
            color: #fff;
            &:hover {
                color: rgb(128, 0, 220);
            }
            letter-spacing: 2px;
            font-style: italic;
        }
        .divider-small {
            width: 40%;
            margin: 12px 0;
            height: 1px;
            background-color: #fff;
        }
        .underline {
            text-decoration: underline;
        }
        .yellow {
            color: yellow;
        }
    }
    .divider {
        margin: 20px;
        width: 80%;
        height: 3px;
        background-color: #fff;
    }
}
