.promo {
    .explain-list {
        ul {
            text-align: left;
            p {
                font-size: 20px;
                font-style: italic;
                line-height: 1;
                margin: 10px;
            }
        }
        form {
            text-align: left;
            padding: 10px;
            & > * {
                padding: 7px;
            }
            label {
                margin: 0 10px;
            }
            input {
                height: 20px;
                padding: 4px 12px;
                font-weight: bold;
                text-transform: uppercase;
            }
            button {
                margin: 0 15px;
            }
        }

        &.buttons {
            .last-button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                gap: 10px;
            }
        }

        &.svgs {
            svg {
                width: 60px;
                height: 60px;
                margin: 0 auto;
                padding: 0 7px;
                &.animate-spin {
                    @keyframes spin {
                        to {
                            transform: rotate(360deg);
                        }
                    }
                    animation: spin 5s cubic-bezier(0.6, -0.6, 0.735, 0.045) infinite;
                }
            }
        }

        .npm {
            color: cadetblue;
            font-weight: bold;
            cursor: pointer;
        }

        a {
            color: #fff;
            &:hover {
                color: rgb(128, 0, 220);
            }
            letter-spacing: 2px;
            font-style: italic;
        }
        .divider-small {
            width: 40%;
            margin: 12px 0;
            height: 1px;
            background-color: #fff;
        }
        .underline {
            text-decoration: underline;
        }
        .yellow {
            color: yellow;
        }
    }
    .divider {
        margin: 20px;
        width: 80%;
        height: 3px;
        background-color: #fff;
    }
}
